
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden], template {
  display: none;
}
a {
  background: transparent;
}
a:active, a:hover {
  outline: 0;
}
.pseudo {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #307d45;
}
.pseudo:hover {
  color: #ea8400;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled], html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Noto Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #051013;
  background-color: #fff;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #3c484e;
  text-decoration: none;
  border-bottom: 1px solid #d9dbdc;
}
a:hover, a:active {
  color: #f60;
  border-bottom-color: #ffdfd4;
}
a:focus {
  outline: none;
}
a.classic {
  border-bottom: none;
  text-decoration: underline;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
  font-size: 65%;
}
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
  font-size: 75%;
}
h1, .h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}
h2, .h2 {
  font-size: 30px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 14px;
}
h6, .h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px; 
}
small, .small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul, ol ul, ul ol, ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt, dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer, blockquote small, blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}
blockquote footer:before, blockquote small:before, blockquote .small:before {
  content: '\2014 \00A0';
}
blockquote:before, blockquote:after {
  content: "";
}
.arr:after {
  content: "";
  display: inline-block;
  background: url(/f/i/icons.png) left -131px no-repeat;
  width: 16px;
  height: 6px;
  position: absolute;
  margin-left: 4px;
  text-decoration: none;
  margin-top: .8em;
}
.clear {
  *zoom: 1;
}
.clear:before, .clear:after {
  display: table;
  line-height: 0;
  content: "";
}
.clear:after {
  clear: both;
}
.justify {
  display: inline-block!important;
  margin: 0!important;
  height: 0!important;
  padding: 0!important;
  overflow: hidden!important;
  width: 99%!important;
  font-size: 0!important;
  line-height: 0!important;
  position: relative;
}
.valign {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  min-height: 100%;
}
.nodecoration {
  text-decoration: none;
}
.decoration {
  text-decoration: underline;
}
.full {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-bottom: none;
}
.back {
  position: absolute;
  left: 0;
  top: 0;
}
.inv {
  display: none;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple], select[size] {
  height: auto;
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none;
}
fieldset {
  border: 0;
  padding:0;
  margin: 0;
}
.form-popup {
  border: 2px solid #307d45;
  background: #fff;
  padding: 20px 38px;
  width: 460px;
}
.form-success {
  padding-bottom: 10px;
  text-align: center;
}
.form-title {
  text-align: center;
  font: bold 24px/24px 'Ubuntu', sans-serif;
  color: #307d45;
  margin-bottom:25px;
  padding: 4px 0 2px;
}
.form-group {
  margin-bottom: 20px;
}
.form-column {
  float: left;
  width: 180px;
}
.clear .form-column:last-child {
  float: right;
}
.form-submit {
  text-align: center;
  padding: 10px 0;
}
.form-control {
  display: block;
  width: 100%;
  padding: 5px 10px;
  color: #010101;
  background-color: #f0f5f8;
  background-image: none;
  border: 1px solid #f0f5f8;
}
.form-control:focus {
  border-color: #468b3c;
  outline: 0;
  background: #fff;
}
.form-control::-moz-placeholder {
  color: #307d45;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #307d45;
}
.form-control::-webkit-input-placeholder {
  color: #307d45;
}
.form-control:focus::-moz-placeholder {
  color: #307d45;
  opacity: 1;
}
.form-control:focus:-ms-input-placeholder {
  color: #307d45;
}
.form-control:focus::-webkit-input-placeholder {
  color: #307d45;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #f0f4f6;
  opacity: 1;
}
.form-control.error {
  border-color: #dd3535;
}
.form-control.error::-moz-placeholder {
  color: #dd3535;
}
.form-control.error:-ms-input-placeholder {
  color: #dd3535;
}
.form-control.error::-webkit-input-placeholder {
  color: #dd3535;
}
.ValidationErrors {
  display: block;
  padding-top: 5px;
  color: #dd3535;
}
textarea.form-control {
  height: auto;
}
.radio, .checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.radio label, .checkbox label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio, .checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled], input[type="checkbox"][disabled], .radio[disabled], .radio-inline[disabled], .checkbox[disabled], .checkbox-inline[disabled], fieldset[disabled] input[type="radio"], fieldset[disabled] input[type="checkbox"], fieldset[disabled] .radio, fieldset[disabled] .radio-inline, fieldset[disabled] .checkbox, fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: #307d45;
  text-decoration: none;
  border: 0;
  white-space: nowrap;
  color: #fff;
  padding: 5px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
}
.btn:hover, .btn:focus {
  color: #fff;
  background: #ea8400;
  text-decoration: none;
}
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%;
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/f/i/icons.png");
  background-repeat: no-repeat
}

[class^="iconize-"], [class*=" iconize-"] {
  display: inline-block;
  position: relative;
}
[class^="iconize-"]:before, [class*=" iconize-"]:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/f/i/icons.png");
  background-repeat: no-repeat;
}
a {
  color: #307d45;
  border-bottom: none;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  color: #ea8400;
}
html, body{
  padding:0;
  margin:0;
  height:100%;
  position:relative;
}
.b-wrap {
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  height:100%;
  position:relative;
} 
.b-container {
  min-height:100%;
  _height:100%; 
  padding-bottom: 100px;
}
.b-main-menu {
  list-style: none;
  padding: 33px 0 0 30px;
  margin: 0 auto 51px;
  max-width: 650px;
  display: inline-block;
  vertical-align: top;
  margin-left: -11px;
  font-size: 14px;
  line-height: 25px;
}
.b-main-menu:after { 
  content: "";`
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  visibility: hidden; 
  width: 100%;
  height: 0;
}
.b-main-menu__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
@media (max-width: 1160px) {
  .b-main-menu {
    margin-left: -20px;
    max-width: 430px;
  }
  .b-main-menu__item {
    margin-left: 10px;
  }
}
.b-contact {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: -5px;
}
.b-logo {
  display: inline-block;
  vertical-align: top;
  border-bottom: none;
  margin-left: -105px;
}
@media (max-width: 1280px) {
  .b-logo {
    margin-left: 0;
  }
}
.b-contact__link {
  cursor: pointer;
  margin-bottom: 5px;
  display: inline-block;
  vertical-align: top;
}
.b-contact__link .pseudo {
  font-size: 13px;
}
.b-contact__link a {
  text-decoration: none;
  display: inline-block;
}
.b-contact__link:hover .pseudo {
  color: #ea8400;
}
.b-contact__phone {
  font: 30px 'Ubuntu', sans-serif;
  color: #307d45;
  font-weight: bold;
}
.b-contact__phone-add {
  color: #307d45;
}
.b-contact__phone span {
  font-size: 14px;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-weight: normal;
}
.b-main-banner {
  background: url(/f/i/main-banner-back.png);
  border-bottom: 3px solid #307d45;
  margin-bottom: 30px;
  position: relative;
  height: 115px;
}
.b-main-banner__logo {
  width: 260px;
  padding-top: 14px;
  float: left;
}
@media (max-width: 1100px) {
  .b-main-banner__logo {
    width: 230px;
    padding-top: 0;
  }
}
.b-main-banner__logo-img {
  margin-bottom: 15px;
}
.b-main-banner__logo-text {
  color: #307d45;
  font: 14px/20px 'Noto Sans', Arial, sans-serif;
}
.b-main-banner__img {
  position: absolute;
  right: 6%;top:0;
}
@media (max-width: 1100px) {
  .b-main-banner__img {
    right: 0;
  }
}
.b-main-banner__img-item {
  vertical-align: bottom;
  display: inline-block;
  width: 33.333333%;
}
.b-main-banner__img-full {
  float:right;
}
@media (max-width: 1100px) {
  .b-manin-banner__img-full {
    margin-left: 0;
  }
}
.b-main-banner__img-first {
  margin-left: 0 !important;
}
.b-add {
  float: left;
  width: 190px;
  min-height: 500px;
}
.b-content {
  overflow: hidden;
  padding-left: 30px;
  padding-bottom: 30px;
}
.b-menu {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.b-menu__item {
  position: relative;
  font: 500 14px/28px 'Ubuntu', sans-serif;
}
.b-menu__item a {
  text-decoration: none;
  border-bottom: none;
  display: block;
  background: #ea8400;
  padding-left: 10px;
  color: #fff;
  height: 30px;
}
.b-menu__item_2 a {
  background: #307d45;
}
.b-menu__item_3 a {
  background: #468b3c;
}
.b-menu__item_4 a {
  background: #559340;
}
.b-menu__item_5 a {
  background: #669c47;
}
.b-menu__item_6 a {
  background: #77a64e;
}
.b-menu__item_7 a {
  background: #88b456;
}
.b-menu__item_8 a{
  background: #98c05f; 
}
.b-submenu {
  max-height: 0;  
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s;
  -moz-transition: max-height .2s;
  -o-transition: max-height .2s;
  -ms-transition: max-height .2s;
  transition: max-height .2s;
}
.b-submenu__item {
  padding: 7px 0;
  font-size: 13px;
  line-height: 20px;
}
.b-submenu__item:last-child {
  padding-bottom: 24px;
}
.b-submenu__item a {
  color: #307d45;
  text-decoration: underline;
  background: transparent;
  height: auto;
  display: inline-block;
}
.b-submenu__item a:hover {
  color: #ea8400;
}
.b-menu__item_active .b-submenu {
  max-height: 2000px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
.b-submenu__item_first {
  padding-top: 15px;
}
.b-submenu__item_last {
  padding-bottom: 15px;
}
.b-submenu__item_active p {
  color: #000;
  font-weight: bold;
  text-transform: none;
  padding-left: 10px;
}

.b-branch {
  margin-bottom: 30px;
}
.b-branch__title {
  border-bottom: 2px solid #307d45;
  color: #307d45;
  margin-bottom: 20px;
  font-weight: bold;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 25px;
}
.b-branch__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.b-branch__item {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}
.b-branch__item-code {
  color: #7a858a;
  font-weight: normal;
}
.b-branch__item-phone {
  font-weight: normal;
}
.b-news {
  margin-bottom: 50px;
}
.b-news__title {
  border-bottom: 2px solid #307d45;
  color: #307d45;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 25px;
}
.b-news__item {
  margin-bottom: 20px;
}
.b-news__date {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}
.b-news__text {
  font-size: 13px;
}
.b-footer {
  border-top: 3px solid #307d45;
  padding-top: 20px;
  margin-top: -100px;
  height: 100px;
}
.b-footer__text {
  width: 500px;
  font-size: 14px;
  letter-spacing: .005em;
  float: left;
  padding-bottom: 20px;
}
.b-made-by {
  float: right;
  cursor: pointer;
  margin-right: 10px;
  color: #000;
  border-bottom: none;
  text-decoration: none;
}
.b-made-by:hover {
  color: #000;
} 
.b-made-by__logo {
  display: block;
  width: 85px;
  height: 16px;
  margin-top: 10px;
}
.b-main-slider {
  background: #e9edef;
  margin-bottom: 30px;
  overflow: hidden;
  height: 240px;
  position: relative;
}
.slidesjs-container {
  height: 240px !important; 
}
.slidesjs-pagination {
  bottom: 10px;
  right: 30px;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 10;
}
.slidesjs-pagination-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 7px;
  text-align: center;
  width: 10px;
}
.slidesjs-pagination-item a {
  color: #000;
  overflow: hidden;
  background: #000;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin-top: 2px;
}
.slidesjs-pagination-item:hover a {
  background: #fff;
  color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 0;
}
.slidesjs-pagination-item a.active {
  background: #fff;
  width: 10px;
  height: 10px;
  color: #fff;
  border-radius: 5px;
  margin-top: 0;
}
.b-main-slider__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 460px;
  height: 240px;
  overflow: hidden;
}
.b-main-slider__mask {
  position: absolute;
  left: 23%;
  top: 0;
  /*width: 579px;
  height: 240px;
  background: url(/f/i/cover_head.png)*/
  width: 712px;
  height: 240px;
  background: url(/f/i/cover_head_big.png)
}
.b-main-slider__text {
  position: absolute;
  top: 35px;
  left: 55%;
  width: 330px;
}
.b-main-slider__description {
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
}
.b-main-slider__description p {
  margin-bottom: 0;
}
.b-main-slider__title {
  color: #fff;
  font: bold 24px/30px 'Ubuntu',sans-serif;
  margin-bottom: 10px;
}
.b-main-slider__text span {
  font-weight: bold;
}
.b-main-slider__item {
  float: left;
  vertical-align: top;
  height: 240px;
  width: 100%;
  position: relative;
}
.b-catalog {
  margin-left: -30px;
  font-size: 14px;
  line-height: 25px;
}
.b-catalog__title {
  color: #307d45;
  font-weight: bold;
  border-bottom: 2px solid #307d45;
  margin-left: 30px;
  margin-bottom: 60px;
  padding-bottom: 3px;
}
.b-catalog__head {
  margin-bottom: 7px;
}
.b-catalog__head a{
  text-decoration: none;
}
.b-catalog__subtitle {
  color: #307d45;
  font-weight: bold;
  line-height: 20px;
  display: block;
}
.b-catalog__item {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  width: 25%;
  margin-bottom: 50px;
}
.b-catalog__img {
  border-bottom: 2px solid #373737;
  margin-bottom: 14px;
  height: 60px;
  position: relative;
  cursor: pointer;
  display: block;
}
.b-catalog__head {
  cursor: pointer;
}
.b-catalog__head:hover .b-catalog__img{
  border-bottom-color: #ea8400;
}
.b-catalog__head:hover .b-catalog__subtitle{
  color: #ea8400;
}
.b-catalog__img img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.b-catalog__link {
  margin-bottom: 5px;
}
@media (max-width: 1100px) {
  .b-catalog__link {
    font-size: 13px;
  }
}
.b-manufacturers {
  margin-bottom: 30px;
  margin-left: -30px;
}
.b-manufacturers__title {
  color: #307d45;
  font-weight: bold;
  border-bottom: 2px solid #307d45;
  margin-bottom: 30px;
  margin-left: 30px;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 25px;
}
.b-manufacturers__item {
  height: 90px;
  width: 25%;
  
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.b-manufacturers__item-holder {
  background: #f0f5f8;
  margin-left: 30px;
  height: 100%;
  position: relative; 
}
.b-manufacturers__item img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  vertical-align: top;
}
.b-about {
  margin-bottom: 30px;
}
.b-about__title {
  color: #307d45;
  font-weight: bold;
  border-bottom: 2px solid #307d45;
  margin-bottom: 30px;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 25px;
} 
.b-about__subtitle {
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
  letter-spacing: .005em;
}
.icon-map {
  width: 61px;
  height: 42px;
  margin-left: 5px;
  background-position: 0 -60px;
}
.icon-mail {
  width: 16px;
  height: 12px;
  background-position: 0 0;
  margin: 3px 7px 0 0;
}
.b-contact__link:hover .icon-mail {
  background-position: 0 -12px;
}
.icon-catalog {
  width: 15px;
  height: 12px; 
  background-position: -16px 0;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.icon-spec {
  float: right;
  width: 15px;
  height: 14px; 
  background-position: -16px -12px;
  margin-top: 7px;
  margin-right: 10px;
}
.iconize-mark {
  margin-left: 10px;
}
.iconize-mark:before {
  width: 7px;
  height: 11px;
  left: -10px;
  top: 4px;
  background-position:  0 -24px;
}


hr {height:1px; border:0; color:#ccc; background:#ccc; margin:1.4em 0;}


.special {padding:6px 15px; background:#FF9900; margin-bottom:2em;}
.special p,.special h3 {margin-bottom:0em; font-size:14px;}

.counter {position:absolute; left:62px; top:10px;}

.categories, .categories li {margin:0; padding:0;}
.categories {margin-bottom:3em;}
.categories, .categories ul {list-style-type:none; list-style-type:none;}
.categories li.but {background-image:none; border-top:1px solid #8dd15f; font-weight:bold; font-size:13px;}
.categories li.but ul {padding:0 0 0 28px; margin:.3em 0 1em;}
.categories li.but li {font-size:11px; font-weight:normal; padding:0; margin:0 0 .2em 0;}
.categories li.but li a, .categories li.but li a:hover, .categories li.but li a:visited {text-decoration:underline;}
.categories li a.bl {display:block; background:#76b74b; border-bottom:1px solid #5c9a3c; padding:3px 0px 5px 19px;}
.categories li, .categories li a, .categories li a:hover, .categories li a:visited {color:#fff; text-decoration:none;}

.phone {position:absolute; left:612px; top:83px;}

p.numbers {margin-bottom:1.2em;}
p.numbers span {padding:4px;}
p.numbers span.current {background:#eee;}

.contact-form p {margin-bottom:0.2em;}
.contact-form div {margin-bottom:1em;}
.contact-form .st {width:200px;}
.contact-form textarea {width:300px; height:110px}

.wide .data {width:100%;}
.data {margin:0 0 1.5em 0;}
.data {text-align:left;}
.data td {padding:.3em .6em .3em 0; border-top:1px dashed #ddd; border-bottom:1px dashed #ddd;}
.data p {margin:0;}
.data ul {margin:.4em 0;}

.data1 {margin:.6em 0 1.5em 0;}
.data1 {text-align:left;}
.data1 td,.data1 th {padding:.3em .6em; border:1px solid #ddd;}
.data1 p {margin:0;}

.production .unit {width:183px; float:left; margin:0 3px 8px 0; font-family:Tahoma; display:inline;}
.production .unit .reducer {border:1px solid #b3b3b3; padding:0;}
.production .unit .title {padding:6px 1px 4px 34px; background:url(/f/i/dots.gif) 5px 14px no-repeat;}
.production .unit img {display:block;}
.production .unit .img {padding-top:11px; background:url(/f/i/catline.gif) left top no-repeat;}
.production .unit .img img {margin:1px; width:179px; height:99px;}
.production .unit ul {list-style-type:none;}
.production .unit ul, .production .unit ul li, .production .unit li ul, .production .unit li ul li {margin:0; padding:0; background:none;}
.production .unit ul li a, .production .unit ul li a:hover, .production .unit ul li a:visited {font-size:13px; font-weight:bold; color:#1c6623;}
.production .unit li ul li a, .production .unit li ul li a:hover, .production .unit li ul li a:visited {font-size:11px; font-weight:normal; color:#606060;}

.addborder {border-top:2px solid #c4c4c4; padding-top:20px; float:left; width:100%;}

.rel {position:relative;}
.clear:after {content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}

.invisible {display:none;}

.h2 h2 {margin:0; color:#fff;}
.h2 {text-align:center; background:#468B3C; padding:7px 20px 9px; margin-bottom:20px; font-weight:bold;margin-top:30px}
.h2 a,.h2 a:hover,.h2 a:visited {color:#fff; text-decoration:none;}
.h3 {background:#dddde5; border-top:5px solid #eeeeef;padding:.4em 0 .6em 230px; margin-bottom:20px; font-weight:bold; margin-top:20px;}
.h3 h3 {margin:0; font-weight:bold; font-size:20px; color:#000; display:inline;}
.h3 .about {margin-left:.8em;}
.h3 .about i {font-style:normal; font-family:serif; font-size:13px; margin-right:.5em;}
.h3 .about a,.h3 .about a:visited,.h3 .about a:hover {text-decoration:underline; font-size:12px;}
.h3 a,.h3 a:hover,.h3 a:visited {color:#000; text-decoration:none;}

.items,.items_wide,.items_ad {margin-top:0em; margin-bottom:20px;max-width:100%;}
.items td a,.items_wide td a,.items_ad td a {font-weight:bold;}
.items td img,.items_wide img,.items_ad img {display:block; text-decoration:none; margin-bottom:5px; margin:0 auto;}
.items td,.items_wide td {padding:5px 0; text-align:center; width:112px;}
.items_wide td {width:112px;}
.items_ad td {padding:5px; text-align:center; width:110px;}
.items th,.items_wide th,.items_ad th {padding:5px 10px 5px 10px;}
.items tr.bordered td,.items tr.bordered th,.items_wide tr.bordered td,.items_wide tr.bordered th {border:1px solid #ccc;}
.items tr.wide_items td,.items_wide tr.wide_items td {width:145px;}
.items tr.wide_items td.photo,.items_wide tr.wide_items td.photo {text-align:center; vertical-align:bottom;}
.items tr.wide_items td.photo img,.items_wide tr.wide_items td.photo img {display:block; margin:0 auto;}
.items tr:first-child td {vertical-align:top}

@media all and (max-width: 1100px) {
  .items,.items_wide,.items_ad {font-size: 13px}
}

.incut {float:right; width:145px;}
.item_other {margin-right:170px; padding-bottom:1.5em;}

.path_arrow {font-family:serif; margin:0 .4em}

.ask {font-weight:bold; font-size:125%; color:#000; cursor:pointer;}
.ask span {border-bottom:1px dashed;}
.ask a,.ask a:hover,.ask a:visited {}
.pred {font-size:125%; margin-bottom:2em;}
.ask_c {font-weight:bold; font-size:125%; color:#000; font-style:italic;}
.ask_c span {border-bottom:0;}

.photos {font-size:110%; font-weight:bold;}
.item_image {float:left;}
.arr {font-weight:normal; font-family:serif; font-size:13px;margin-right:.5em}
.add {font-weight:bold; margin-bottom:.4em; font-size:1.1em;}

a.green, a.green:visited, a.green:hover {font-size:15px; font-weight:bold; color:#1c6623;}

.add_photos img {display:block; margin-bottom:12px;}
.forms {background:#eee; padding:20px;}
.forms table td {padding:0 20px 10px 0;}
.forms table td .st{width:470px;}

.photos-i img {display:block; margin:0 0 .5em 0}

.incut {position:relative;}

.askformblock {position:absolute; right:0;top:0;  border:1px solid #c9c9c9; background:#fff; padding:15px 0 10px 20px; display:none; z-index:10;}
.askclose {width:11px; height:11px; background:url(/f/i/close.gif) left top no-repeat; cursor:pointer; top:0; right:0; position:absolute; right:20px; top:18px;}
.askblock {font-weight:bold; font-size:125%; color:#000; margin-bottom:1.2em;}
.askformblock input, .askformblock textarea {padding:0 2px 2px; border:0; width:230px; margin:0;}
.askformblock input {border-bottom:1px solid #c9c9c9;-webkit-border-radius:0;border-radius:0}
.askformblock textarea {border:1px solid #c9c9c9; height:68px;-webkit-border-radius:0;border-radius:0}
.askformblock table td {padding:0 20px 10px 0;}
.askformblock input[type="Image"] {padding:0;}
.nowrap {white-space:nowrap;}

.thumbs ul,.thumbs ul li {list-style-type:none; margin:0; padding:0;}
.thumbs ul li {width:145px; height:82px; margin-bottom:5px;}
.thumb {width:145px; height:82px; overflow:hidden;}

.special-prices {margin-bottom:0em;}
.special-prices td {padding:0 0 15px 0;}
.special-prices p {margin:0 0 .2em;}
.special-prices strong {font-size:14px; display:block; margin:.2em 0}
.special-prices .info-opener {position:relative; z-index:1; font-weight:bold; border-bottom:1px dotted; font-size:14px; cursor:pointer; white-space:nowrap;}
.special-prices .info-extended {display:none;}
.special-prices img {margin-right:10px;}

.data p {text-align:left;}

.lease th {background:#76B74B; color:#fff;}
.lease th.thead {background:#DDDDE5; color:#000; font-size:18px; text-align:center;}
.lease th,.lease td {padding:4px 6px;}
.lease td {border:1px solid #DDDDE5;}
.lease th {padding-top:7px;padding-bottom:7px;}
.lease th.thead {padding-top:4px;padding-bottom:4px;}
.lease td.mid,.lease th.mid {text-align:center;}
.lease td b {font-size:13px; color:#f00000;}
.lease td.tred {background:#ff8787;}
.lease td.tyellow {background:#ffedc5;}
.lease td.tgreen {background:#76B74B;}

.pseudo {cursor:pointer; border-bottom:1px dotted;}

.selectblock {margin:0 0 2em 0; font-weight:bold;}
.selectblock td {padding-right:20px; vertical-align:bottom;}
.selectblock td .tact {font-size:16px; border-bottom:0 !important;}
.selectblock td .tunact {font-size:12px;}

.producerBlock {margin-bottom:1.5em;}
.producerBlockHolder {width:100%; overflow:hidden;}
.producerImage {float:left;}
.producerText {margin-left:170px;}



.th {width:208px;}
.special-slider{margin-bottom:5px}
.special-item{border:1px solid #f90;height:350px}
.special-item a,.special-item ins{text-decoration:none}
.special-item__image{float:left;width:479px;height:350px;overflow:hidden;border-right:1px solid #f90}
.special-item__image img{display:block}
.special-item__description{margin-left:500px;padding-top:14px;padding-right:20px;}
.special-item__title{font-size:20px;line-height:25px;font-weight:bold;margin-bottom:12px}
.special-item__details{font-size:13px;margin-bottom:15px}
.special-item__details span{color:#606060}
.special-item__details p{margin-bottom:3px}
.special-item__oldprice{font-size:16px;color:#f00000;margin-bottom:0px}
.special-item__newprice{font-size:25px;color:#f00000;margin-bottom:5px}
.special-item__newprice span{font-size:13px}
.special-item__link{margin-top:12px}
.special-item__link a{display:inline-block;background:#f90;padding:5px 10px;font-size:14px;font-weight:bold}
.special-item__link a span{margin-left:10px}

.rub{
  font-family: 'ALSRubl-Arial', Arial, sans-serif;
  line-height: normal;
}

/*28.07.2011 - vita*/
.download {font-size: 1.1em; font-weight: bold; padding: 0 0 10px 400px; width: 345px;}
.download div {float: left;}

.zapch_big_name {color:#000; font-size:1.45em; margin:0; font-weight:bold;}
.short {margin-top: 10px; padding-left: 20px;}
.spares {margin-bottom: 1.5em; width: 100%;}

h2 strong, h2 b,h3 strong,h3 b{font-weight: normal}
table td,table th{vertical-align:top}
.producerText p.t{margin-bottom:10px!important;font-size:24px!important}
.bullets,.bullets li{list-style:none;padding-left:0;}
.bullets p.t {margin:0;}
.special-tech{margin-top:20px}
.special-tech h2{font-size:20px}

.price {margin-bottom: 20px;width:100%;}
.price th,.price td{text-align:center;border:1px solid #ccc;padding:8px}
.price .nodecoration {color:#051013}
